body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:980px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:40px;
  top:20px;
  width:910px;
  height:480px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:910px;
  height:480px;
}
#u1 {
  position:absolute;
  left:2px;
  top:232px;
  width:906px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:51px;
  top:80px;
  width:894px;
  height:405px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
  text-align:center;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u4 {
  position:absolute;
  left:2px;
  top:7px;
  width:104px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:108px;
  top:0px;
  width:58px;
  height:30px;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:30px;
}
#u6 {
  position:absolute;
  left:2px;
  top:7px;
  width:54px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:166px;
  top:0px;
  width:69px;
  height:30px;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
}
#u8 {
  position:absolute;
  left:2px;
  top:7px;
  width:65px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:235px;
  top:0px;
  width:86px;
  height:30px;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
}
#u10 {
  position:absolute;
  left:2px;
  top:7px;
  width:82px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:321px;
  top:0px;
  width:66px;
  height:30px;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
}
#u12 {
  position:absolute;
  left:2px;
  top:7px;
  width:62px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:387px;
  top:0px;
  width:73px;
  height:30px;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
}
#u14 {
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:460px;
  top:0px;
  width:77px;
  height:30px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:30px;
}
#u16 {
  position:absolute;
  left:2px;
  top:7px;
  width:73px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:537px;
  top:0px;
  width:70px;
  height:30px;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:607px;
  top:0px;
  width:67px;
  height:30px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:30px;
}
#u20 {
  position:absolute;
  left:2px;
  top:7px;
  width:63px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:674px;
  top:0px;
  width:63px;
  height:30px;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
}
#u22 {
  position:absolute;
  left:2px;
  top:7px;
  width:59px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:737px;
  top:0px;
  width:79px;
  height:30px;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:30px;
}
#u24 {
  position:absolute;
  left:2px;
  top:7px;
  width:75px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:816px;
  top:0px;
  width:73px;
  height:30px;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
}
#u26 {
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:0px;
  top:30px;
  width:108px;
  height:30px;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u28 {
  position:absolute;
  left:2px;
  top:7px;
  width:104px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:108px;
  top:30px;
  width:58px;
  height:30px;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:30px;
}
#u30 {
  position:absolute;
  left:2px;
  top:7px;
  width:54px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:166px;
  top:30px;
  width:69px;
  height:30px;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
}
#u32 {
  position:absolute;
  left:2px;
  top:7px;
  width:65px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:235px;
  top:30px;
  width:86px;
  height:30px;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
}
#u34 {
  position:absolute;
  left:2px;
  top:7px;
  width:82px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:321px;
  top:30px;
  width:66px;
  height:30px;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
}
#u36 {
  position:absolute;
  left:2px;
  top:7px;
  width:62px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:387px;
  top:30px;
  width:73px;
  height:30px;
  text-align:center;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
}
#u38 {
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:460px;
  top:30px;
  width:77px;
  height:30px;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:30px;
}
#u40 {
  position:absolute;
  left:2px;
  top:7px;
  width:73px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:537px;
  top:30px;
  width:70px;
  height:30px;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u42 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:607px;
  top:30px;
  width:67px;
  height:30px;
  text-align:center;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:30px;
}
#u44 {
  position:absolute;
  left:2px;
  top:7px;
  width:63px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:674px;
  top:30px;
  width:63px;
  height:30px;
  text-align:center;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
}
#u46 {
  position:absolute;
  left:2px;
  top:7px;
  width:59px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:737px;
  top:30px;
  width:79px;
  height:30px;
  text-align:center;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:30px;
}
#u48 {
  position:absolute;
  left:2px;
  top:7px;
  width:75px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:816px;
  top:30px;
  width:73px;
  height:30px;
  text-align:center;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
}
#u50 {
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:0px;
  top:60px;
  width:108px;
  height:340px;
  text-align:center;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:340px;
}
#u52 {
  position:absolute;
  left:2px;
  top:162px;
  width:104px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:108px;
  top:60px;
  width:58px;
  height:340px;
  text-align:center;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:340px;
}
#u54 {
  position:absolute;
  left:2px;
  top:162px;
  width:54px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:166px;
  top:60px;
  width:69px;
  height:340px;
  text-align:center;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:340px;
}
#u56 {
  position:absolute;
  left:2px;
  top:162px;
  width:65px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:235px;
  top:60px;
  width:86px;
  height:340px;
  text-align:center;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:340px;
}
#u58 {
  position:absolute;
  left:2px;
  top:162px;
  width:82px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:321px;
  top:60px;
  width:66px;
  height:340px;
  text-align:center;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:340px;
}
#u60 {
  position:absolute;
  left:2px;
  top:162px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:387px;
  top:60px;
  width:73px;
  height:340px;
  text-align:center;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:340px;
}
#u62 {
  position:absolute;
  left:2px;
  top:162px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:460px;
  top:60px;
  width:77px;
  height:340px;
  text-align:center;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:340px;
}
#u64 {
  position:absolute;
  left:2px;
  top:162px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:537px;
  top:60px;
  width:70px;
  height:340px;
  text-align:center;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:340px;
}
#u66 {
  position:absolute;
  left:2px;
  top:162px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:607px;
  top:60px;
  width:67px;
  height:340px;
  text-align:center;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:340px;
}
#u68 {
  position:absolute;
  left:2px;
  top:162px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:674px;
  top:60px;
  width:63px;
  height:340px;
  text-align:center;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:340px;
}
#u70 {
  position:absolute;
  left:2px;
  top:162px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:737px;
  top:60px;
  width:79px;
  height:340px;
  text-align:center;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:340px;
}
#u72 {
  position:absolute;
  left:2px;
  top:162px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:816px;
  top:60px;
  width:73px;
  height:340px;
  text-align:center;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:340px;
}
#u74 {
  position:absolute;
  left:2px;
  top:162px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:374px;
  top:149px;
  width:196px;
  height:16px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:16px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  white-space:nowrap;
}
#u77 {
  position:absolute;
  left:880px;
  top:114px;
  width:49px;
  height:20px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:20px;
}
#u78 {
  position:absolute;
  left:2px;
  top:2px;
  width:45px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:51px;
  top:30px;
  width:889px;
  height:40px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:889px;
  height:40px;
}
#u80 {
  position:absolute;
  left:2px;
  top:12px;
  width:885px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:816px;
  top:35px;
  width:103px;
  height:27px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:27px;
}
#u82 {
  position:absolute;
  left:2px;
  top:6px;
  width:99px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:744px;
  top:39px;
  width:27px;
  height:16px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u85 {
  position:absolute;
  left:296px;
  top:210px;
  width:400px;
  height:140px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:140px;
}
#u86 {
  position:absolute;
  left:2px;
  top:62px;
  width:396px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:660px;
  top:220px;
  width:20px;
  height:20px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u88 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:909px;
  top:134px;
  width:0px;
  height:100px;
}
#u89_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:114px;
}
#u90 {
  position:absolute;
  left:-50px;
  top:42px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:820px;
  top:240px;
  width:160px;
  height:16px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:16px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
