body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:150px;
  top:90px;
  width:450px;
  height:260px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:260px;
}
#u1 {
  position:absolute;
  left:2px;
  top:122px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:298px;
  top:30px;
  width:129px;
  height:37px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:530px;
  top:100px;
  width:50px;
  height:20px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u5 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
