body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:962px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:40px;
  top:93px;
  width:910px;
  height:480px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:910px;
  height:480px;
}
#u1 {
  position:absolute;
  left:2px;
  top:232px;
  width:906px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:51px;
  top:153px;
  width:894px;
  height:414px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:39px;
  text-align:center;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:39px;
}
#u4 {
  position:absolute;
  left:2px;
  top:12px;
  width:117px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:121px;
  top:0px;
  width:84px;
  height:39px;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:39px;
}
#u6 {
  position:absolute;
  left:2px;
  top:12px;
  width:80px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:205px;
  top:0px;
  width:58px;
  height:39px;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:39px;
}
#u8 {
  position:absolute;
  left:2px;
  top:12px;
  width:54px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:263px;
  top:0px;
  width:97px;
  height:39px;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:39px;
}
#u10 {
  position:absolute;
  left:2px;
  top:12px;
  width:93px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:360px;
  top:0px;
  width:71px;
  height:39px;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:39px;
}
#u12 {
  position:absolute;
  left:2px;
  top:12px;
  width:67px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:431px;
  top:0px;
  width:89px;
  height:39px;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:39px;
}
#u14 {
  position:absolute;
  left:2px;
  top:12px;
  width:85px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:520px;
  top:0px;
  width:165px;
  height:39px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:39px;
}
#u16 {
  position:absolute;
  left:2px;
  top:12px;
  width:161px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:685px;
  top:0px;
  width:128px;
  height:39px;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:39px;
}
#u18 {
  position:absolute;
  left:2px;
  top:12px;
  width:124px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:813px;
  top:0px;
  width:76px;
  height:39px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:39px;
}
#u20 {
  position:absolute;
  left:2px;
  top:12px;
  width:72px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:0px;
  top:39px;
  width:121px;
  height:30px;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u22 {
  position:absolute;
  left:2px;
  top:7px;
  width:117px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:121px;
  top:39px;
  width:84px;
  height:30px;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:30px;
}
#u24 {
  position:absolute;
  left:2px;
  top:7px;
  width:80px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:205px;
  top:39px;
  width:58px;
  height:30px;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:30px;
}
#u26 {
  position:absolute;
  left:2px;
  top:7px;
  width:54px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:263px;
  top:39px;
  width:97px;
  height:30px;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u28 {
  position:absolute;
  left:2px;
  top:7px;
  width:93px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:360px;
  top:39px;
  width:71px;
  height:30px;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:30px;
}
#u30 {
  position:absolute;
  left:2px;
  top:7px;
  width:67px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:431px;
  top:39px;
  width:89px;
  height:30px;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
}
#u32 {
  position:absolute;
  left:2px;
  top:7px;
  width:85px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:520px;
  top:39px;
  width:165px;
  height:30px;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
}
#u34 {
  position:absolute;
  left:2px;
  top:7px;
  width:161px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:685px;
  top:39px;
  width:128px;
  height:30px;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:30px;
}
#u36 {
  position:absolute;
  left:2px;
  top:7px;
  width:124px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:813px;
  top:39px;
  width:76px;
  height:30px;
  text-align:center;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
}
#u38 {
  position:absolute;
  left:2px;
  top:7px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:0px;
  top:69px;
  width:121px;
  height:340px;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:340px;
}
#u40 {
  position:absolute;
  left:2px;
  top:162px;
  width:117px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:121px;
  top:69px;
  width:84px;
  height:340px;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:340px;
}
#u42 {
  position:absolute;
  left:2px;
  top:162px;
  width:80px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:205px;
  top:69px;
  width:58px;
  height:340px;
  text-align:center;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:340px;
}
#u44 {
  position:absolute;
  left:2px;
  top:162px;
  width:54px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:263px;
  top:69px;
  width:97px;
  height:340px;
  text-align:center;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:340px;
}
#u46 {
  position:absolute;
  left:2px;
  top:162px;
  width:93px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:360px;
  top:69px;
  width:71px;
  height:340px;
  text-align:center;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:340px;
}
#u48 {
  position:absolute;
  left:2px;
  top:162px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:431px;
  top:69px;
  width:89px;
  height:340px;
  text-align:center;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:340px;
}
#u50 {
  position:absolute;
  left:2px;
  top:162px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:520px;
  top:69px;
  width:165px;
  height:340px;
  text-align:center;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:340px;
}
#u52 {
  position:absolute;
  left:2px;
  top:162px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:685px;
  top:69px;
  width:128px;
  height:340px;
  text-align:center;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:340px;
}
#u54 {
  position:absolute;
  left:2px;
  top:162px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:813px;
  top:69px;
  width:76px;
  height:340px;
  text-align:center;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:340px;
}
#u56 {
  position:absolute;
  left:2px;
  top:162px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:410px;
  top:243px;
  width:170px;
  height:16px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:16px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:51px;
  top:103px;
  width:889px;
  height:40px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:889px;
  height:40px;
}
#u60 {
  position:absolute;
  left:2px;
  top:12px;
  width:885px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:816px;
  top:108px;
  width:103px;
  height:27px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:27px;
}
#u62 {
  position:absolute;
  left:2px;
  top:6px;
  width:99px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:744px;
  top:112px;
  width:27px;
  height:16px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:877px;
  top:196px;
  width:49px;
  height:20px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:20px;
}
#u66 {
  position:absolute;
  left:2px;
  top:2px;
  width:45px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:902px;
  top:216px;
  width:0px;
  height:90px;
}
#u67_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:104px;
}
#u68 {
  position:absolute;
  left:-50px;
  top:37px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:840px;
  top:313px;
  width:122px;
  height:16px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:16px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:670px;
  top:20px;
  width:180px;
  height:30px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u72 {
  position:absolute;
  left:2px;
  top:7px;
  width:176px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:760px;
  top:110px;
  width:0px;
  height:-60px;
}
#u73_seg0 {
  position:absolute;
  left:-10px;
  top:-64px;
  width:20px;
  height:74px;
}
#u74 {
  position:absolute;
  left:-50px;
  top:-38px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
