body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:620px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:190px;
  top:80px;
  width:430px;
  height:280px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:280px;
}
#u1 {
  position:absolute;
  left:2px;
  top:132px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:300px;
  top:150px;
  width:210px;
  height:40px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:300px;
  top:220px;
  width:210px;
  height:40px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:40px;
}
#u5 {
  position:absolute;
  left:2px;
  top:12px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:300px;
  top:290px;
  width:210px;
  height:40px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:40px;
}
#u7 {
  position:absolute;
  left:2px;
  top:12px;
  width:206px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:480px;
  top:90px;
  width:130px;
  height:30px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u9 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:215px;
  top:162px;
  width:75px;
  height:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:372px;
  top:110px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:236px;
  top:232px;
  width:27px;
  height:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
